/* Main element styling */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "jakarta-sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

main {
  overflow: visible;
}

main section {
  padding: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

p {
  font-size: large;
  text-wrap: pretty;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

@media only screen and (min-width: 768px) {
  main section {
    padding: 4rem;
    padding-left: 5rem;
    padding-right: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    overflow-y: scroll;
    flex: 1;
  }

  main section {
    padding: 4rem;
    padding-left: 6rem;
    padding-right: 8rem;
  }
}

/* Layout Utama pemisah Aside dan content */
#page-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  #page-layout {
    display: block;
    overflow: auto;
    height: auto;
  }
}

/* Aside + Navbar */
aside {
  background-color: white;
  padding: 3rem 5rem 3rem 5rem;
  height: 20rem;
}

aside nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  aside {
    padding: 4rem;
    padding-left: 5rem;
    padding-right: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  aside {
    padding: 4rem;
    padding-left: 6rem;
    padding-right: 8rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    width: 30rem;
    height: 100%;
    border-right: 1px solid lightgray;
    overflow: hidden;
  }

  aside nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
}

/* Animated title container */
#hero {
  font-size: medium;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#hero h1,
h2,
h3 {
  margin-top: 0;
}

/* Navbar link style */
nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: large;
  color: black;
  padding: 0.6rem;
  padding-left: 0.8rem;
  border-left: 2px solid transparent;
  border-radius: 12px;
  background: linear-gradient(to right, aqua, transparent) no-repeat;
  background-size: 0% 100%;
  background-position: left;
}

nav a:hover:not([aria-current="true"]),
a[aria-current="true"] {
  background-size: 99% 100%;
  border-left: 2px solid black;
  font-weight: 600;
}

/* Navbar link icon */
nav a span {
  margin-right: 0.5rem;
}

a[aria-current="true"] span {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 28;
}

/* Social Media Flex */
#social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#social-media {
  width: 100%;
  display: flex;
  gap: 1rem;
}

#social-media a {
  height: 46px;
  width: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: 500;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 1rem;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 0.4s ease;
}

#social-media a:hover {
  outline-color: darkslategray;
}

#social-media a img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

#social-media span {
  margin-left: 0.2rem;
  max-width: 0px;
  height: auto;
  overflow: hidden;
  transition: max-width 0.5s ease;
  white-space: nowrap;
} /* Animated text display for social media */

#social-media span.show {
  max-width: 500px;
}

/* Credit */
#credit {
  align-self: flex-end;
}

footer {
  display: none;
  h4 {
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  #credit {
    display: none;
  }

  footer {
    display: block;
  }
}

/* Google Material Icon */
.material-icon {
  font-family: "Material Symbols Outlined";
  font-size: 28px;
  font-weight: 400 !important;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 28;
}

.material-icon.small {
  font-size: 20px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

/* Porto Card */
.portofolio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.portofolio-card {
  background-color: white;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  transition: all 0.15s ease;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.portofolio-card p {
  font-size: medium;
  margin: 0;
}

.portofolio-card ul {
  margin-left: 1rem;
  margin: 0.5rem;
  padding-left: 1rem;
}

.portofolio-card li {
  font-size: small;
  margin-bottom: 0.2rem;
}

.portofolio-card:hover {
  box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.3);
  translate: 0px -5px;
}

.portofolio-card a {
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  transition: opacity 0.1s ease;
}

.portofolio-card a:hover {
  opacity: 1;
}

/* My Features */
#my-feature-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#my-feature-container div {
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 1rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

@media only screen and (min-width: 900px) {
  #my-feature-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #my-feature-container div:nth-child(3) {
    grid-column: -1/1;
  }
}

@media only screen and (min-width: 1400px) {
  #my-feature-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #my-feature-container div:nth-child(3) {
    grid-column: auto;
  }
}

#my-feature-container div:hover {
  background-color: white;
}

/* Testimony */
#testimony-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  #testimony-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

#testimony-container div {
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 1rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#testimony-container h4 {
  margin: 0;
}

#testimony-container p {
  flex: 1;
  margin: 0 0 1rem 0;
}

#testimony-container span {
  font-size: small;
  margin: 0;
}

/* Various Component */
.tag-container {
  display: flex;
  gap: 0.4rem;
  margin: 0.5rem 0 0.5rem 0;
}

.tag {
  font-size: small;
  padding: 0.4rem;
  border: 1px solid darkgray;
  border-radius: 0.8rem;
}
